<%= form_for @scerror, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :actualerror, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :actualerror, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :fixnote, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :fixnote, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                scerrors_path, :class => 'btn' %>
  </div>
<% end %>
