<ul class="nav nav-list">
  <li>
	<li class="active" data-toggle="collapse" data-target="#demo">
    <a href="#">
      <i class="icon-exclamation-sign"></i>
      Quick Adds! (Click here to expand / collapse)

	<!-- <label class="label label-success" data-toggle="collapse" data-target="#demo">
	  Toggle on / off
	</label> -->
    </a>
	</li>
  </li>
</ul>

<div class="tooltip-demo well">



	<div id="demo" class="collapse in">


		<%= form_for(Sccommand.new) do |f| %>
		  Command: <%= f.text_field :commandstr %><%= f.submit %>	
		<% end %>
		
		<%= form_for(Note.new) do |f| %>
		  Note: <%= f.text_field :description %><br />
		  Private?:<%= f.check_box :privatebool %>
		  <%= f.submit %>
		<% end %>

	</div>

</div>