
<!-- This is for the search! -->
			<%= form_tag sccommands_path, :method => 'get', :id => "commands_search" do %>
			  <p>
			    <%= text_field_tag :search, params[:search] %>
			    <%= submit_tag "Search", :name => nil %>
			  </p>
			  <div id="sccommands"><%= render 'sccommands' %></div>
			<% end %>
<!-- This is for the search! -->



<%- model_class = Sccommand.new.class -%>
<div class="page-header">
  <h1>Commands</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:commandstr) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @sccommands.each do |sccommand| %>
      <tr>
        <td><%= link_to sccommand.id, sccommand_path(sccommand) %></td>
        <td><%= sccommand.commandstr %></td>
        <td><%= sccommand.description %></td>
        <td><%=l sccommand.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_sccommand_path(sccommand), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      sccommand_path(sccommand),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @sccommands %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_sccommand_path,
            :class => 'btn btn-primary' %>
